*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgWhiteCase: #FDFDFD;
    --bgBlackText: #010101;
    --bgOneLinear: #448EFC;
    --bgTwoLinear: #38EFFE;
    ;
}

/*! 1440 x 692 */
body {
    background: linear-gradient(var(--bgTwoLinear), var(--bgOneLinear)) fixed;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    position: relative;
}

/* Photo de profil */
#ID img {
    margin: 1.6% auto;
    border-radius: 50%;
    width: 10em;
}

#ID img,
#social-media a {
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px, rgba(0, 0, 0, 0.2) -3px -3px 3px;
}

/* Erwan & copyright/logo */
h2,
h1 {
    font-size: 1.6em;
}

/* Social media & ©Copyright */
h3 {
    font-size: 1em;
}

/* CONTAINER */
#social-media {
    margin: 2em auto 11em;
    display: grid;
    justify-content: center;
    text-align: center;
    line-height: 50px;
}

#social-media a {
    border-radius: 1.4em;
    width: 20em;
    background: var(--bgWhiteCase);
    padding: .4em;
    color: var(--bgBlackText);
    margin: 5% auto;
    text-decoration: none;
}

/* FOOTER */
header,
footer {
    width: 100vw;
}

#ID,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 14vh;
    justify-content: center;
    color: var(--bgWhiteCase);
}

/* 360 x 615 (mobile)*/
@media screen and (max-width: 500px) {

    /* copyright/logo */
    h1 {
        font-size: 1.2em;
    }

    #ID img {
        margin-top: 8%;
        width: 8em;
    }

    #social-media {
        margin-bottom: 5em;
    }

    #social-media a {
        width: 14em;
    }

    footer {
        height: 12vh;
    }
}