*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgWhiteCase: #FDFDFD;
    --bgBlackText: #010101;
    --bgOneLinear: #FF5C00;
    --bgTwoLinear: #FFF000;
    --bgFooter: #FF843F;
    --bgImg: #696969;
}

/*! 1440 x 692 */
body {
    background: linear-gradient(var(--bgTwoLinear), var(--bgOneLinear)) fixed;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    position: relative;
}

/* ID */
#ID {
    margin-top: 1.6%;
}

#ID img {
    border-radius: 50%;
    width: 7rem;
    box-shadow: 0 0 1.4em var(--bgImg);
}

/* Linkodevo */
h1 {
    font-size: 180%;
}

/* Erwan */
h2 {
    font-size: 150%;
    margin-top: 1.4%;
}

/* Social media */
h3 {
    font-size: 100%;
}

/* ©Copyright */
h4 {
    font-size: 80%;
}

/* CONTAINER */
#social-media {
    margin: 1% auto;
    display: grid;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    width: 6rem;
}

#social-media a {
    border-radius: 12px;
    width: 200px;
    background: var(--bgWhiteCase);
    padding: 2%;
    color: var(--bgBlackText);
    margin: 5% auto;
    text-decoration: none;
}

/* FOOTER */
header,
footer {
    width: 100%;
}

#ID,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background: var(--bgOneLinear);
    height: 14vh;
    justify-content: center;
    color: var(--bgWhiteCase);
    line-height: 27px;
    position: absolute;
    bottom: 0;
}

/* ! 400 x 786 (mobile)*/
@media screen and (max-width: 600px) {
    #ID img {
        margin-top: 8%;
    }

    #social-media {
        margin: 1.6rem auto;
    }

    footer {
        height: 12vh;
    }
}